// ===========================================
// COLORS
// ===========================================

$color-primary: #3380FF;
$color-secondary: #D5E6FB;

$color-text-dark: #1F1F1F;
$color-text-grey: #626D7D;
$color-text-grey-light: #e2e6e7; 

$color-white: #FFFF;
$color-gold: #FFB849;
$color-gold-light: rgba(#FF9C07, 0.8);
$color-purple: #9181DB;
$color-purple-light: rgba(#4D21FF, 0.8);
$color-pink: #F0A0A0;
$color-pink-light: #FFD2D2;
$color-green: #219653;
$color-green-light: #C7E4DB;
$color-orange: #FF7C04;
$color-orange-light: #FCF4DB;
$color-red: #EB5757;
$color-red-light: rgba(#EB5757, 0.8);
