@import '../../style/utils/base';

.layout{
    display: grid;
    grid-template-columns: [col-sidebar-start] max-content [col-sidebar-end col-main-start] 1fr [col-main-end];
    grid-template-rows: [row-full-start row-navbar-start] max-content [row-navbar-end row-main-start] 1fr [row-main-end row-full-end] ;

    .navbarContainer{
        grid-column: col-main-start / col-main-end;
        grid-row: row-navbar-start / row-navbar-end;
    }
    
    .sidebarContainer{
        grid-column: col-sidebar-start / col-sidebar-end;
        grid-row: row-full-start / row-full-end;
    }

    .mainContainer{
        grid-column: col-main-start / col-main-end;
        grid-row: row-main-start / row-main-end;
    }
}
