@import '../../style/utils/base';

.layout{
    display: grid;
    grid-template-columns: max-content  1fr;
    grid-template-rows: max-content 1fr;

    @include response(vp-800){
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbarContainer{
        grid-column: span 1 / -1;
        grid-row: 1 / 1;

        @include response(vp-800){
            grid-column: 1 / -1;
        }
    }
    
    .sidebarContainer{
        grid-column: 1 / 1;
        grid-row: 1 / -1;
        transition: all 250ms;

        @include response(vp-800){
            height: 100%;

            position: fixed;
            top: 0;
            left: -100%;
        }
    }
    .tabSidebarContainer{
        left: 0;
    }
    
    .mainContainer{
        grid-column: span 1 / -1;
        grid-row: span 1 / -1;

        @include response(vp-800){
            grid-column: 1 / -1;
        }
    }
}

.tabSidebarContainer{
    height: 100%;

    position: fixed;
    top: 0;
    left: -100%;
}
