@import '../../../style/utils/base';

.sidebar{
    height: 100%;
    width: max-content;
    padding: 4rem 4.5rem;
    border-right: 2px solid $color-text-grey-light;
    background-color: $color-white;

    .closeBtn{
        padding: 0.5rem;
        background-color: $color-secondary;
        border-radius: 0.3rem;
        border: none;
        cursor: pointer;
        @include itemCenter();
        display: none;
        
        @include response(vp-800){
            display: inline;

            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        .icon{
            font-size: 2rem;
            color: $color-primary;
        }
    }

    .logoContainer{
        height: 3.2rem;
        margin-bottom: 7.5rem;

        @include response(vp-800){
            margin-top: 4rem;
        }

        .img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .navList{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .navItem{
            list-style: none;
            font-size: 1.8rem;
            font-weight: 600;
            padding: 1.1rem 2.9rem;
            border-radius: 1rem;
            transition: all 300ms;
            cursor: pointer;

            display: flex;
            align-items: center;
            gap: 1.2rem;

            &:hover{
                background-color: $color-secondary;
                color: $color-primary;
            }

            .icon{
                font-size: 2.2rem;
            }
        }

        .logout:hover{
            background-color: $color-red-light;
            color: $color-white;
        }
    }
    .divider{
        height: 2px;
        width: 100%;
        background-color: $color-text-grey-light;
        margin: 5rem 0;
    }
}
