@import '../../../style/utils/base';

.convertInput{
    background-color: $color-text-grey-lighter;
    display: flex;
    padding: 1rem;
    border-radius: .7rem;
    border: 2px solid transparent;

    &:focus-within{
        border: 2px solid $color-secondary;
    }

    input{
        flex: 1;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        background-color: transparent;
    }
    select{
        border: none;
        color: $color-green;
        background-color: $color-green-light;
        padding: 0.8rem 1rem;
        cursor: pointer;
        outline: none;
        border-radius: .5rem;
    }
}